@using EnticingGalary.Models;
@model WallpaperHomePageContent

@{
    ViewBag.Title = "Home Page Content Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="page-header-title">
                <div class="page-header-icon"><i data-feather="activity"></i></div>
                <span>Home Page Content</span>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid mt-n10">

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                    <a style="color:#fff;" class="btn btn-primary" href="@Url.Action("WallpaperHomePageContent","Admin")"><i class="fas fa-plus"></i>&nbsp;Back to List</a>
                </div>
                <div class="card-body">

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Trending This Week Content :", htmlAttributes: new { @class = "control-label col-md-12 font-weight-bold" })
                            <div class="col-md-12">
                                <p>
                                    @if (Model.TrendingThisWeekContent != null)
                                    {
                                        @(new HtmlString(Model.TrendingThisWeekContent))
                                    }
                                </p>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            @Html.Label("Featured Category Content :", htmlAttributes: new { @class = "control-label col-md-12 font-weight-bold" })
                            <div class="col-md-12">
                                <p>
                                    @if (Model.FeaturedCategoryContent != null)
                                    {
                                        @(new HtmlString(Model.FeaturedCategory))
                                    }
                                </p>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            @Html.Label("Trending Wallpaper Albums Content :", htmlAttributes: new { @class = "control-label col-md-12 font-weight-bold" })
                            <div class="col-md-12">
                                <p>
                                    @if (Model.TrendingWallpaperAlbumsContent != null)
                                    {
                                        @(new HtmlString(Model.TrendingThisWeekContent))
                                    }
                                </p>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            @Html.Label("Most View Wallpaper Albums Content :", htmlAttributes: new { @class = "control-label col-md-12 font-weight-bold" })
                            <div class="col-md-12">
                                <p>
                                    @if (Model.MostViewWallpaperAlbumsContent != null)
                                    {
                                        @(new HtmlString(Model.MostViewWallpaperAlbumsContent))
                                    }
                                </p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
